body {font-family: "Montserrat"}
body a {text-decoration: none;}
body header {color: #9D9FA0;}
.breadcrumb a { color: #CD1F4B; font-size: 14px; }
.breadcrumb .active { font-size: 14px; }
.product-page { padding: 40px 0 }
h3.product-title { margin-top: 40px; }
.product-page > .info { background: #F5F5F5; padding: 10px; }
.product-page .info ul { list-style-type: none; padding: 0; margin: 0;}
.product-page .info ul li { padding: 10px; font-size: 13px; }
.product-page .info ul li a { color: #CD1F4B; }
.product-page .info img { width: 5%;}
.product-page .btn-add-cart {
    color: white;
    background-color: #CD1F4B;
    width: 170px;
}
.product-page .property ul { list-style-type: none; padding: 0; margin: 0;}
.product-page .property ul li { padding: 10px 10px 0 10px; font-size: 13px; }
.product-page .property img { width: 10%; margin-right: 10px; }
.product-page .details { padding-top: 30px; }
.product-page .details .view a, .video a {
    font-size: 75px;
    text-align: center;
    display: block;
}
.product-page .details .view svg, .video svg { width: 1em; height: 1em; }
.product-page .details .view, .video {
    padding: 35px;
    border-style: solid;
    border-width: 1px;
    border-color: #D9D9D9;
    border-radius: 7px;
}

.product-page .btn-add-cart:hover {
    background: #e6003d;
    text-decoration: none;
}
.product-page .btn-quick-order {
    color: black;
    background-color: #bdef5c;
    width: 170px;
}
.product-page .btn-quick-order:hover {
    background: #95e000;
    text-decoration: none;
}
.product-page .info .nav-tabs .nav-item.show, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #CD1F4B!important;
    border: none;
    border-radius: 0px;
}
.product-page .info .nav-tabs .nav-item, .nav-tabs .nav-link {
    color: black;
    background-color: #DEDEDE;
    border-radius: 0px;
    border: none;
    margin-right: 4px;
}
.product-page .info .nav-tabs .nav-item:hover, .nav-tabs .nav-link:hover {
    background-color: #FBD102;
    border: none;
    border-radius: 0px;
}
.product-page .nav-tabs { border: none; }
.product-page .info-tab {
    margin-top: 50px;
    background: #F5F5F5;
    padding: 30px;
}
.product-page .benefit {
    background: #F5F5F5;
    background-image: -webkit-linear-gradient(top, #ffffff, #F5F5F5);
    background-image: -moz-linear-gradient(top, #ffffff, #F5F5F5);
    background-image: -ms-linear-gradient(top, #ffffff, #F5F5F5);
    background-image: -o-linear-gradient(top, #ffffff, #F5F5F5);
    background-image: linear-gradient(to bottom, #ffffff, #F5F5F5);
    padding: 80px 0;
}

.product-page .benefit img { width: 300px; height: 232px; display: block; margin: 0 auto; }
.product-page .benefit h2 { text-align: center; }

.product-page .container-fluid { padding-left: 0; padding-right: 0; }
.product-page .banner { position: relative; }
.product-page .banner .video-block {
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    background: gray;
}
.product-page .banner .video-block video {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
}
.product-page .banner .content-block img { display: block; margin: 0 auto; width: 100%; }

.product-page .in-color { background: white; text-align: center; padding: 80px 0; }
.product-page .detail, .benefits { background: #F5F5F5; text-align: center; padding: 80px 0; }
.product-page .detail p, .benefits p, .in-color p { font-size: 14px; }
.product-page .benefits img { width: 90%; }
.product-page .benefits ul { list-style-type: none; padding: 0; }
.product-page .benefits ul li { margin-bottom: 30px; }
.product-page .benefits ul.left li p { text-align: right; font-weight: bold; }
.product-page .benefits ul.right li p { text-align: left; font-weight: bold; }
.product-page .benefits ul li svg { width: 60px; display: block; }
.product-page .benefits ul.left li svg { margin: 0 0 30px auto; }
.product-page .benefits ul.right li svg { margin: auto 0 30px 0; }

.product-page .detail img { display: block; margin: 0 auto; width: 100%; }
.product-page .detail .left a#btn1 { left: 42%; bottom: 88%; }
.product-page .detail .left a#btn2 { left: 69%; bottom: 86%; }
.product-page .detail .left a#btn3 { left: 12%; bottom: 35%; }
.product-page .detail .left a#btn4 { left: 44%; bottom: 26%; }
.product-page .detail .left a#btn5 { left: 66%; bottom: 37%; }
.product-page .detail .left a#btn6 { left: 80%; bottom: 20%; }
.product-page .detail .right a#btn7 { left: 60%; bottom: 86%; }
.product-page .detail .right a#btn8 { left: 31%; bottom: 66%; }
.product-page .detail .right a#btn9 { left: 42%; bottom: 46%; }
.product-page .detail .right a#btn10 { left: 37%; bottom: 28%; }
.product-page .detail .right a#btn11 { left: 16%; bottom: 26%; }
.product-page .detail .right a#btn12 { left: 22%; bottom: 26%; }
.product-page .detail .right a#btn13 { left: 30%; bottom: 18%; }
.product-page .detail .left, .right { position: relative; }
.product-page .detail .left a, .right a {
    background-color: #CD1F48;
    color: #FFFFFF;
    font-size: 10px;
    display:block;
    height: 18px;
    width: 18px;
    padding: 2px;
    border-radius: 50%;
    position: absolute;
}
.product-page .banner .content-block {
    z-index: 1;
    position: relative;
    color: white;
    padding: 10px;
}
.product-page .banner .content-block h1, h2, h3 { text-transform: uppercase; margin-bottom: 50px; }
.product-page .banner .content-block h1, h3 { font-weight: bold; }
.product-page .banner .content-block h3 { font-size: 25px; }
.product-page .banner .content-block h4 {
    padding: 10px 30px;
    background-color: #9D7AD18F;
}

.product-page .banner .content-block .info { display: flex; align-items: center; }
.product-page .banner .content-block a {
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    background-color: #CD1F4B;
    padding: 10px 20px;
    border-radius: 4px;
}
.product-page .product .gallery { margin-top: 40px; }
.product-page > .carousel #gallery-carousel, .in-color #in-color-carousel {
    color: #170724;
    --carousel-button-bg: #fff;
    --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%),
    0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    --carousel-button-svg-width: 20px;
    --carousel-button-svg-height: 20px;
    --carousel-button-svg-stroke-width: 2.5;
}
.product-page > .carousel #gallery-carousel img, .in-color #in-color-carousel img { width: 100%; }
.product-page > .carousel #gallery-carousel .carousel__slide, .in-color #in-color-carousel .carousel__slide { width: 35%; padding: 10px; }
.product-page > .carousel { background: white; text-align: center; padding: 80px 0; }

#product-carousel {
    margin: 0 60px 100px;
    --carousel-button-color: #170724;
    --carousel-button-bg: #fff;
    --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%),
    0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    --carousel-button-svg-width: 20px;
    --carousel-button-svg-height: 20px;
    --carousel-button-svg-stroke-width: 2.5;
}
.product-page .product #product-carousel img { width: 100%; }
.product-page .product #product-carousel .carousel__slide { width: 100%; padding: 0; }
.product-page .product #product-carousel .carousel__button.is-prev { left: -1.5rem; }
.product-page .product #product-carousel .carousel__button.is-next { right: -1.5rem; }
.product-page .product #product-thumb-carousel .carousel__slide {
    opacity: 0.5;
    padding: 0;
    margin: 0.25rem;
    width: 30%;
}
.product-page .product #product-thumb-carousel .carousel__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.product-page .product #product-thumb-carousel .carousel__slide.is-nav-selected { opacity: 1; }

.logo img {
    width: 220px;
}
header {
    background: #1E252B;
    padding: 20px 0;
}
header .nav li a {
    color: #9D9FA0;
    padding: 13px 20px;
    font-size: 17px;
    font-weight: 400;
}
header .nav li a:hover {
    border-bottom: 3px solid #CC1F4A;
}
header .nav {}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.top-buffer-20 { margin-top:20px; }
.top-buffer-80 { margin-top:80px; }
.product-page .price { font-size: 25px; font-weight: bold; }
#menu-title:hover {
    color: white;
    cursor: pointer;
}

.modal-content { background: #F5F5F5; }
#menu-content { background: #F5F5F5; }

#menu-content .container {
    padding: 40px 0;
}

@font-face {
    font-family: 'newicons';
    src: url('font/newicons.eot?12122132');
    src: url('font/newicons.eot?12122132#iefix') format('embedded-opentype'),
    url('font/newicons.woff2?12122132') format('woff2'),
    url('font/newicons.woff?12122132') format('woff'),
    url('font/newicons.ttf?12122132') format('truetype');
    font-weight: normal;
    font-style: normal;
}


[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "newicons";
    font-style: normal;
    font-weight: normal;
    speak: never;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;

    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */


    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

#menu-content .icon-02:before { content: '\e800'; } /* 'î €' */
#menu-content .icon-05:before { content: '\e801'; } /* 'î ' */
#menu-content .icon-04:before { content: '\e802'; } /* 'î ‚' */
#menu-content .icon-03:before { content: '\e803'; } /* 'î ƒ' */
#menu-content .icon-filter:before { content: '\f0b0'; } /* 'ï‚°' */

#menu-content .icon { font-size: 98px; }
#menu-content .divider { border-bottom: 1px solid; width: 50%; margin: 0 auto;}
#menu-content .color-2 { color: #d00c4a; }
#menu-content .color-3 { color: #C5E128; }
#menu-content .color-4 { color: #AF90D8; }
#menu-content .color-5 { color: #94786E; }
#menu-content ul { text-align: center; }
#menu-content h2 { font-size: 14px; font-weight: 700; }
#menu-content ul { list-style-type: none; padding: 0;}
#menu-content a { color: #398ffc; font-size: 14px; }
#menu-content a:hover { color: #3b3d42; }
#menu-content ul.item > li { margin-bottom: 30px; }
#menu-content ul.item > li:first-child { margin-bottom: 10px; }
#menu-content ul.item ul li { margin-bottom: 20px; }
#menu-content .fa-xmark {
    position: absolute;
    right: 0px;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
}
